/* *{border: 1px solid orange;} */

*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
    min-height: 100%;
    box-sizing: border-box; 
    margin:0 auto;
    width: 1400px;
    font-family: "Montserrat", sans-serif ;
    font-size: 14px;
    color: #533738;
}

main, header {
    background: #EFE6E4;  
}
header{
    background-image: url("img/unsplash-1.png");
    height:715px;
}

 h2 {
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 500;
    line-height: 50px;
    letter-spacing: 0.1em;
    text-align:center;
 }

 /* header*/
.header-menu {
    margin: 10px auto;
    padding: 10px 10px; 
    display:flex;
    justify-content: space-around;
    align-items: center;
    width: 90%;
}

 a{
    text-decoration: none;
    color: #533738; 
    font-size: 14px; 
}

.logo {
    padding-bottom: 7px; 
    margin-right:80px;
    
}
.logo::before {
    height: 23px;
    content: url("img/icon-logo.png");
    display: inline-block;
}

.header-banner {
    position: relative;
    top: 90px;
    left:180px;
    width:330px;
}

.callback {
    width: 250px;
    left: 170px;
    margin-top: 25px;
    background: #CC8B86;
    padding: 25px 65px;
    line-height:25px;
    font-size: 14px;
}

/* section about */
.about {
    display:flex;
    flex-wrap: wrap;
    justify-content: center ;
}

.about-head {
    text-align:center;
    margin:0 10px;
    width: 100%;
}

.about-photo img{
    width:440px;
    margin-left: 50px;
}

.description{
    width: 450px;
    padding: 5px;
    box-sizing:border-box; 
    padding:50px 20px;  
}

.achievements{
    display:flex;
    height: 150px;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background: #8D7370;
    margin: 30px auto;
    vertical-align: middle;
}

.experience, 
.projects, 
.awards {
    top: 30px;
    font-size: 30px;
    color:#fff;
    line-height: 35px;
    height: 35px;
    display: table-cell;
    text-align: center;
}

/* section works */

.works-head {
    margin: 0 auto; 
    width: 100%;
}
.works-lists {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: 15px;
    margin: 10px; 
}

.work-item {
    position: relative;
    width: 480px;
    height: auto;
    padding: 10px;
    margin: 10px;
}
/* hover effect*/
.work-hover {
    color: #fff;
    opacity:0;
    background-color:#644845 ;
    position: absolute;
    top: 10px;
    bottom: 15px;
    left: 10px;
    right: 0;
    width: 480px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  
}
.work-hover> h4 {
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 37px;
    text-align: center;
    max-width: 420px;
  }
.work-hover > p {
 
    font-size: 18px;
    line-height: 30px;
    max-width: 420px;
  }
  
.work-hover:hover {
    opacity:0.5;
} 

work__image-hover > h4 {
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 37px;
    text-align: center;
    max-width: 420px;
  }

.work__image-hover > p {
    font-size: 18px;
    line-height: 30px;
    max-width: 420px;
}
/* finish hover*/
.huge {
    width: 680px;
    padding: 10px;
    margin: 10px;
}

.more a {
    display:block;
    font-size: 20px;
    color: #533738;
    font-weight: 500;
    text-align: center;
    line-height: 50px;
    margin-bottom: 20px;
}

.more a::after {
    content: url("img/Arrow3.png");
    margin: 30px 15px;
    padding-top: 1opx;
}



/* section team */
.team, .actions {
    display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 0 auto;
    background: #E2C4BA;  
}
.about-head, .team-head, 
.action-head, .reviews-head{
    margin: 0 auto; 
    width: 100%;
}
.team-card {
    width: 300px;
    margin: 10px 10px;
    padding: 5px;
    box-sizing:border-box; 
    padding:50px 20px;  
}

.team-image img {
    display:block;
    max-width: 250px;
    margin:auto;
}

.team-info {
    margin-top: auto;
    max-width:100%;
    padding:5px; 
}

/* section reviews */
.reviews {
    width: 1100px;
    display: flex;
    flex-wrap: wrap;
	justify-content: space-around;
	margin: 0 auto;
    align-items: center;
}

.left-arrow, .right-arrow {
    width:72px;
}

.review-text {
    width: 400px;
    padding:15px;
}

.review-text span {
    display: block;
    margin-right: auto; 
   
}
.review-photo {
    display: flex;
    flex-wrap: wrap;
    width: 400px;
    margin: 20px;
}

/* section actions */
.actions {
    display:flex;
    justify-content: space-around;
    padding: 10px;
    align-items: center;
}

.action-list {
    display:flex;
    justify-content: space-around;
    padding: 10px;
    margin:10px 50px;

}

.action-item {
    width: 300px;
    margin: 10px 10px;
    padding: 5px;
    box-sizing:border-box;  

}

.action-subhead h2{
    font-weight: 500;
    color: #fff;
    background-image: url(img/ellipse.png);
    background-size: 45px auto;
    background-repeat: no-repeat;
    background-position: center;
    margin: 15px auto;  
}


/* section application */
.application  {
    background: #8D7370;
    color: #fff;
}

.application-items {
    display: flex;
    justify-content: center;
    align-content: center;
}

.call-form {
    width: 400px;
    display: flex;
    flex-wrap: wrap;
    margin-left: 50px;
}
.call-name, .call-phone {
    background: none;
    border: none;
    border-bottom: 1px solid #ffffff;
    width: 95%;
}

input {
    color: white;
    font-size: 16px;
    line-height: 30px;
    outline: none;
    border: none;
}

.map {
    margin-left: 100px;
}  
.footer {
    display:flex;
    justify-content: space-around;
    margin:20px auto; 
}
.footer-phone {
    width:160px;
    margin-left: 50px;
}

.footer-address {
    width:460px;
    margin-right: 150px;
}
.footer-item {
    width:160px;
}

/* .nav a:hover { background:#5c8db7; } */
